<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<!-- <a href="/README.md">Home</a></p>
<a href="/pages/game_servers.md">Game Hosting</a></p>
<a href="/pages/private_cloud.md">Private Cloud</a></p>
<a href="/pages/linode_cloud.md">Linode Cloud</a></p>
<a href="https://github.com/GoobyFRS/goobyfrs.github.io/wiki">Support Wiki</a></p> -->
<!-- end custom head snippets -->