<link rel="shortcut icon" type="image/x-icon" href="\assets\img\favicon.ico">
<p class="view"><a href="https://goobyfrs.github.io">Home</a></p>
<p class="view"><a href="https://goobyfrs.github.io/game_servers">Game Hosting</a></p>
<p class="view"><a href="https://goobyfrs.github.io/private_cloud">Private Cloud</a></p>
<p class="view"><a href="https://goobyfrs.github.io/linode_cloud">Linode Cloud</a></p>
<p class="view"><a href="https://github.com/GoobyFRS/goobyfrs.github.io/wiki">Support Wiki</a></p>